body {
  font: 10px sans-serif;
}

.axis path,
.axis line {
	fill: none;
	stroke: black;
	shape-rendering: crispEdges;
}

.dot {
  outline: none;
  opacity: .6;
}

.tooltip {
  position: absolute;
  width: 90;
  height: 45px;
  pointer-events: none;
  border-radius:  5px;
  padding: 5px;
}
